[Unit]
Description=Proiect SM 1307A
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/tests/dht11_ex2.py > /home/pi/1307A/script.log 2>$1
Restart=always

[Install]
WantedBy=multi-user.target
